.background-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.background-container div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.background-image {
    background-image: url("../images/Sanremo\ Unsplash.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-blur {
    backdrop-filter: blur(1px);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.35);
}

.center-module {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: white;
    text-align: center;
}

.center-module h1 {
    font-size: 60px;
}

.center-module h2 {
    margin: 20px;
    font-weight: normal;
}

.center-module button {
    padding: 15px 50px;
    border: none;
    margin: 20px;
    color: black;
    font-size: 15px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
}

.content-scroll {
    width: 100%;
    height: fit-content;
    position: absolute;
    bottom: 0px;
    z-index: 2;
    color: white;
    text-align: center;
    padding-bottom: 40px;
}

.page-module {
    width: 100%;
    height: 400px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 75px;
    z-index: 100;
}

.page-module-splitter {
    width: 50%;
    height: fit-content;
}

.page-module-splitter h1 {
    margin-bottom: 10px;
}

.image-1 {
    background-image: url("../images/international.jpg");
    width: 100%;
    padding-bottom: 56.25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.page-module p {
    font-size: 22px;
}

.events-schedule {
    text-align: center;
}

.events-module {
    width: 100%;
    height: fit-content;
    align-items: center;
    display: flex;
    justify-content: space-around;
    gap: 45px;
    z-index: 100;
    padding: 30px;
}

.event {
    width: 1000px;
    height: 350px;
    background-color: rgb(36, 36, 36);
    border-radius: 5px;
}

.event-image1 {
    background-image: url("../images/Genova.jpg");
    width: 100%;
    padding-bottom: 56.25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.event-image2 {
    background-image: url("../images/restauraunt.jpg");
    width: 100%;
    padding-bottom: 56.25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.event-image3 {
    background-image: url("../images/Coming\ soon.jpg");
    width: 100%;
    padding-bottom: 56.25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.event-image4 {
    background-image: url("../images/piccolo\ logo.jpeg");
    width: 100%;
    padding-bottom: 56.25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.event-image5 {
    background-image: url("../images/aquarella.jpg");
    width: 100%;
    padding-bottom: 56.25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.event-image6 {
    background-image: url("../images/Cinema.jpg");
    width: 100%;
    padding-bottom: 56.25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.event-image7 {
    background-image: url("../images/Padel.avif");
    width: 100%;
    padding-bottom: 56.25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.event-image8 {
    background-image: url("../images/relax.png");
    width: 100%;
    padding-bottom: 56.25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.event-image9 {
    background-image: url("../images/hike.jpg");
    width: 100%;
    padding-bottom: 56.25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.event-image10 {
    background-image: url("../images/Venice.avif");
    width: 100%;
    padding-bottom: 56.25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.event-image11 {
    background-image: url("../images/Cocktail.avif");
    width: 100%;
    padding-bottom: 56.25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.event-image12 {
    background-image: url("../images/TravelCocktail.avif");
    width: 100%;
    padding-bottom: 56.25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.event-image13 {
    background-image: url("../images/ChristmasLunch.avif");
    width: 100%;
    padding-bottom: 56.25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.event-image14 {
    background-image: url("../images/Torino.avif");
    width: 100%;
    padding-bottom: 56.25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.event-image15 {
    background-image: url("../images/Massage.jpg");
    width: 100%;
    padding-bottom: 56.25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.event-image16 {
    background-image: url("../images/Book.avif");
    width: 100%;
    padding-bottom: 56.25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.event-image17 {
    background-image: url("../images/Ballroom.avif");
    width: 100%;
    padding-bottom: 56.25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.event-image18 {
    background-image: url("../images/Lunch.avif");
    width: 100%;
    padding-bottom: 56.25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.event-image19 {
    background-image: url("../images/villa-angerer.jpg");
    width: 100%;
    padding-bottom: 56.25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.event-image20 {
    background-image: url("../images/CocktailHour.avif");
    width: 100%;
    padding-bottom: 56.25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.event-text {
    color: white;
    text-align: center;
}

.event-time {
    color: rgb(154, 154, 154);
    text-align: left;
}

.event-button button {
    padding: 10px 80px;
    border: none;
    margin: 30px 10px 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 12px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
